<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_item, style: "display: block" %>
    <%= form.text_field :order_item %>
  </div>

  <div>
    <%= form.label :purchase_order_id, style: "display: block" %>
    <%= form.text_field :purchase_order_id %>
  </div>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.text_field :item_id %>
  </div>

  <div>
    <%= form.label :currancy, style: "display: block" %>
    <%= form.text_field :currancy %>
  </div>

  <div>
    <%= form.label :quantitiy_added, style: "display: block" %>
    <%= form.number_field :quantitiy_added %>
  </div>

  <div>
    <%= form.label :quantity_shipped, style: "display: block" %>
    <%= form.number_field :quantity_shipped %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.text_field :discount %>
  </div>

  <div>
    <%= form.label :tax, style: "display: block" %>
    <%= form.text_field :tax %>
  </div>

  <div>
    <%= form.label :platform_fee, style: "display: block" %>
    <%= form.text_field :platform_fee %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
