<div id="<%= dom_id order_items %>">
  <p>
    <strong>Order item:</strong>
    <%= order_items.order_item %>
  </p>

  <p>
    <strong>Purchase order:</strong>
    <%= order_items.purchase_order_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= order_items.item_id %>
  </p>

  <p>
    <strong>Currancy:</strong>
    <%= order_items.currancy %>
  </p>

  <p>
    <strong>Quantitiy added:</strong>
    <%= order_items.quantitiy_added %>
  </p>

  <p>
    <strong>Quantity shipped:</strong>
    <%= order_items.quantity_shipped %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_items.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order_items.discount %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= order_items.tax %>
  </p>

  <p>
    <strong>Platform fee:</strong>
    <%= order_items.platform_fee %>
  </p>

</div>
